/* //https://www.w3schools.com/cssref/css_selectors.asp */

.box {
    width: 100%;
    height: 40px;
    background: white;
}

.landing.active{
    background: red;
}

.landing.disabled{
    background: pink;
}

.landing.focus{
    background: white;
}

.landing:hover{
    background: green;
}
